<h2><%=t.files_settings.form.title%></h2>
<div data-alerts="alerts" data-titles="{'success':'<%=t.entitymanagement.success%>','warning':'<%=t.entitymanagement.warning%>','error':'<%=t.entitymanagement.error%>'}" data-fade="10000"></div>
<form name="variables" action="/variables" method="PUT" 
      data-remote="ajax" data-remote-method="PUT">

  <h3><%=t.files_settings.form.storage_group%></h3>
  <p><%=t.files_settings.form.storage_description%></p>

  <% if not storages.empty? %>
  <%= render_variable_select('attachment.default_storage',
          t.files_settings.form.default_storage, storages) %>
  <% else %>
  <a href="/admin/site/files/storages/new?destination=/admin/site/files/config"><%= t.files_settings.form.create_storage%></a>
  <% end %>
  <div class="top-margin-1line">
  <a href="/admin/site/files/storages"><%= t.files_settings.form.see_storages%></a>
  </div>

  <div class="formrow-botonera">
    <input type="submit" value="<%=t.entitymanagement.update%>" 
           class="button blue-button">
  </div>

</form>